html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html {
	-webkit-font-smoothing: antialiased;
}
body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container{
	overflow-x: hidden;
}
img{
  max-width: 100%;
  height: auto;
}
header{
  width: 100%;
  height: 55px;
  line-height: 50px;
  border-bottom: 5px solid #DA4453;
  background: #ED5565;
  position: relative;
  top:0;
  left:0;
  z-index:10000;
}

.logo{
  font-size: 26px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}
/*Strip the ul of padding and list styling*/
nav ul {
  list-style-type:none;
  margin:0;
  padding:0;
  position: absolute;
}

/*Create a horizontal list with spacing*/
nav li {
  display:inline-block;
  float: left;
}
/*Style for menu links*/
nav li a {
  display:block;
  min-width:140px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  background: #2f3036;
  text-decoration: none;
}

/*Hover state for top level links*/
nav li:hover a {
  background: #ED5565;
}

/* Hides menu icon on desktop site */
.show-menu{display:none;}

/* Creates 3 lines aka hamburger icons */
.show-menu span { position: absolute;top: 24px;right: 10px;}
.show-menu span,
.show-menu span:before,
.show-menu span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: white;
  position: absolute;
  display: block;
  content: '';
}
.show-menu span:before {
  top: -10px;
}
.show-menu span:after {
  bottom: -10px;
}

#menu{
  margin-top:0;
}

.search{
  width: 300px;
  height: 50px;
  border-bottom: 2px solid #ccc;
  text-align: center;
}
/* Search */
input#search{
  width: 225px;
  height: 30px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  color: #ffffff;
  padding-left: 25px;
  padding-right: 25px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  outline: none;
  margin-top:10px;
}
input#search::-webkit-input-placeholder {
   color: #65737e;
   text-align: center;
}

input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;
   text-align: center;
}

input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;
   text-align: center;
}

input#search:-ms-input-placeholder {
   color: #65737e;
   text-align: center;
}

footer{
    float:left;
    display: inline;
    width:100%;
    text-align:center;
  }

  footer p{
    padding-bottom: 15px;
  }

  ul.social{
    display:block;
    margin: 0!important;
    padding:0!important;

  }
  ul.social li{
    float: left;
    display: inline-block;
    width:33%;
    background: none;
    padding-bottom: 10px;
  }

  ul.social li a{
    font-size:16px;
    color: black;
	display: block;
	padding: 15px 0;
  }

  ul.social li a:hover{
    background: #efefef;
  }
  
  ul.social li a.fb{
	  color: #3B5998;
  }
  ul.social li a.tw{
	  color: #4099FF;
  }
  ul.social li a.pin{
	  color: #C92228;
  }

/* Phones */
@media only screen and (max-width: 767px) {
  header{
    text-align: center;
  }
  .show-menu {
		display:block;
    z-index: 1000
	}

  .search{
    width: 100%;
    height: 50px;
  }

  ul {
		position: static;
		display: none;
	}
	/*Make all menu links full width*/
	ul li, li a {
		width: 100%;
	}

  article .overlay{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:rgba(0, 0, 0, 0.65);
    background: url(data:;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNUmK/OAAAAATSURBVBhXY2RgYNgHxGAAYuwDAA78AjwwRoQYAAAAAElFTkSuQmCC) repeat scroll transparent\9;
    z-index:2;
    color: white;
    margin-bottom:9px;
    }

  article.featured{
    width:100%;
    height: 100%;
    position: relative;
    display:block;
  }
  article{
    width:100%;
    height: 100%;
    position: relative;
    margin:0 0 -9px 0;
    padding:0;
    float: left;
    display:block;
    clear:both;
  }

  article a{
    font-size: 35px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    display: block;
  }
 

  article a h1{
  	font-size: 32px;
    position: absolute;
    bottom: 15%;
    left: 5%;
    z-index: 199;
  }
  article a span{
    position: absolute;
    bottom: 15%;
    left: 5%;
    z-index: 200;
    font-size:16px;
    font-weight: 400;
  }
  
  .article article{
	  text-align: center;
  }
  
  .article article p{
	  padding: 0 15px;
	  font-size: 14px;
	  line-height: 21px;
  }
  

}
